%h1 Riak client connected to <em>http://#{@node.client.host}:#{@node.client.port}/stats</em>

%table
  %tbody
    - @stats.each_pair do |key, value|
      %tr
        %th= key
        %td= String === value ? value : value.inspect

